body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-main {
    background-size:cover;
    background-image: url("wall.jpg");
}

.head-image {
    width: 100%;
    height: 300px;
}

#head-image {
    color:azure;
    text-align:center;
    font-style:italic;
    font-size: 100px;
    background-image: url("garage.jpg");
    background-size:cover;
    padding-top:90px;
    padding-bottom:80px;
    padding-left: 400px;
    padding-right: 200px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#searchBox
{
    float:right;
    margin-bottom: 3vh;
    text-align: right;
}
select
{
    min-width: 170px;
}
.button-link
{
    float: left;
    margin-top: 4vh;
}
a:hover
{
    text-decoration: none;
}
input
{
    color: #428bca;
}
input:hover
{
    color: #2a6496;
}
.table thead > tr > th,
.table tbody > tr > th,
.table tfoot > tr > th,
.table thead > tr > td,
.table tbody > tr > td,
.table tfoot > tr > td,
hr
{
    border-top: 1px solid black;
}