@{
    ViewBag.Title = "Home Page";
}

<h1>Welcome to Joe's garage</h1>
<div class="row">
    <div class="col-md-4">
        <h3>New member?</h3>
        <a href="../Members/Index" class="btn btn-default">Visit member list &raquo;</a>
    </div>
    <div class="col-md-4">
        <h3>Enter the garage</h3>
        <div>
            <a href="../Vehicles/Index">
                <img id="visit-image" src="/Content/visit_image.jpg" />
            </a>
        </div>
    </div>
    <div class="col-md-4">
        <h3>Look at our prices</h3>
        <p><a class="btn btn-default" href="Home/About">Get it &raquo;</a></p>
    </div>
    
</div>