@{
    ViewBag.Title = "Home Page";
}

<h1>Welcome to Joe's garage</h1>
<div class="row">
    <div class="col-md-6">
        <h3>Enter the garage</h3>
        <div>
            <a href="ParkedVehicles/Index">
                <img id="visit-image" src="/Content/visit_image.jpg" />
            </a>
        </div>
    </div>
    <div class="col-md-6">
        <h3>Look at our prices</h3>
        <p><a class="btn btn-default" href="Home/About">Get it &raquo;</a></p>
    </div>
    
</div>